@model GestionClinique.Laboratoire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Laboratoire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAnalyse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAnalyse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Examan.TypeExamen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examan.TypeExamen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.IdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.IdUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
