@model GestionClinique.Hospitalisation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hospitalisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeConsultation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeConsultation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateArrivee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateArrivee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chambre.Localisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chambre.Localisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.IdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.IdUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
